.upload-area { min-height: 100px; margin: 10px 0 10px 0; padding-bottom: 10px; border: solid 1px #aaa; background: #eee; }
	.upload-area td { vertical-align: middle; }
	.upload-area td:first-child { cursor: move; }

.ui-sortable-helper { background-color: #fff; }

.dragover-file, .ui-sortable-placeholder, .ui-sortable-placeholder  td {
	background-color: rgba(0, 42, 128, 0.1) !important;
}

.progress-slim { height: 5px; margin: 10px 0; }

.editable { text-decoration: none; border-bottom: 1px dashed #0088cc; }
.editable:hover  { text-decoration: none; }
.editable.text-error { border-bottom-color: #953b39; }
.editable-block, .editable-block .editable-input { display: inline-block; vertical-align: middle; margin-bottom: 0; }

.editable-block .editable-input > input,
.editable-block .editable-input > textarea,
.editable-block .editable-input > select,
.editable-block .editable-input > div { margin-bottom: 0; vertical-align: top; }